body {
    font-family: Arial, sans-serif;
    background: url(books.png);
    /* background-color: rgb(244, 165, 76); */
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #20c12d;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 80%;
    max-width: 800px; /* Increased width to accommodate 10 questions */
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.question {
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 0px 0px 10px 60px;
}

div.options .radio-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 100px;
}

/* Style the label */
.radio-container label {
    margin-left: 8px; /* Space between radio button and label text */
}

/* Optional: Align text */
.radio-container label {
    display: inline-block;
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    margin-bottom: 3px;
}

.btn:hover {
    background: #673ab7;
}